In [26]:
%pip install pandas numpy matplotlib
%pip install openpyxl
%pip install sqlalchemy
%pip install psycopg2
%pip install python-dotenv

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.13/site-packages (2.3.5)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.13/site-packages (3.10.8)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.13/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in ./.venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.13/site-packages (2.0.45)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2 in ./.venv/lib/python3.13/site-packages (2.9.11)
Note: you may need to restart the kernel to use updated packages.
Collecting python-dotenv
  Using cached python_dotenv-1.2.1-py3-none-any.whl.metadata (25 kB)
Using cached python_dotenv-1.2.1-py3-none-any.whl (21 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
Customer_feedback = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_customer_feedback', engine='openpyxl')
Customers = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_customers', engine='openpyxl')
Market_performance = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_marketing_performance', engine='openpyxl')
Order_Items = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_order_items', engine='openpyxl')
Orders = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_orders', engine='openpyxl')
Products = pd.read_excel('Blinkit.xlsx', sheet_name='blinkit_products', engine='openpyxl')

In [6]:
# Display the first few rows of each dataframe to verify successful loading
print("Customer Feedback:")
print(Customer_feedback.head())
print("Customers:")
print(Customers.head())
print("Market Performance:")
print(Market_performance.head())
print("Order Items:")
print(Order_Items.head())
print("Orders:")
print(Orders.head())
print("Products:")
print(Products.head())

Customer Feedback:
   feedback_id    order_id  customer_id  rating  \
0      2234710  1961864118     30065862       4
1      5450964  1549769649      9573071       3
2       482108  9185164487     45477575       3
3      4823104  9644738826     88067569       4
4      3537464  5427684290     83298567       3

                          feedback_text feedback_category sentiment  \
0         It was okay, nothing special.          Delivery   Neutral
1              The order was incorrect.    App Experience  Negative
2         It was okay, nothing special.    App Experience   Neutral
3      The product met my expectations.    App Experience   Neutral
4  Product was damaged during delivery.          Delivery  Negative

  feedback_date
0    2024-07-17
1    2024-05-28
2    2024-09-23
3    2023-11-24
4    2023-11-20
Customers:
   customer_id  customer_name                     email         phone  \
0     97475543  Niharika Nagi    ektataneja@example.org  912987579691
1     22077605   Megha Sachar      vedant45@example.com  915123179717
2     47822591     Hema Bahri     samiazaan@example.com  910034076149
3     79726146     Zaitra Vig     ishanvi87@example.org  916264232390
4     57102800   Januja Verma  atideshpande@example.org  917293526596

                               address          area  pincode  \
0  23, Nayar Path, Bihar Sharif-154625         Udupi   321865
1  51/302, Buch Chowk\nSrinagar-570271       Aligarh   149394
2   941\nAnne Street, Darbhanga 186125     Begusarai   621411
3       43/94, Ghosh, Alappuzha 635655     Kozhikode   826054
4             06\nOm, Ambarnath 477463  Ichalkaranji   730539

  registration_date customer_segment  total_orders  avg_order_value
0        2023-05-13          Premium            13           451.92
1        2024-06-18         Inactive             4           825.48
2        2024-09-25          Regular            17          1969.81
3        2023-10-04              New             4           220.09
4        2024-03-22         Inactive            14           578.14
Market Performance:
   campaign_id      campaign_name       date target_audience channel  \
0       548299  New User Discount 2024-11-05         Premium     App
1       390914    Weekend Special 2024-11-05        Inactive     App
2       834385     Festival Offer 2024-11-05        Inactive   Email
3       241523         Flash Sale 2024-11-05        Inactive     SMS
4       595111   Membership Drive 2024-11-05       New Users   Email

   impressions  clicks  conversions    spend  revenue_generated  roas
0         3130     163           78  1431.85            4777.75  3.60
1         3925     494           45  4506.34            6238.11  2.98
2         7012     370           78  4524.23            2621.00  2.95
3         1115     579           86  3622.79            2955.00  2.84
4         7172     795           54  2888.99            8951.81  2.22
Order Items:
     order_id  product_id  quantity  unit_price
0  1961864118      642612         3      517.03
1  1549769649      378676         1      881.42
2  9185164487      741341         2      923.84
3  9644738826      561860         1      874.78
4  5427684290      602241         2      976.55
Orders:
     order_id  customer_id          order_date promised_delivery_time  \
0  1961864118     30065862 2024-07-17 08:34:01    2024-07-17 08:52:01
1  1549769649      9573071 2024-05-28 13:14:29    2024-05-28 13:25:29
2  9185164487     45477575 2024-09-23 13:07:12    2024-09-23 13:25:12
3  9644738826     88067569 2023-11-24 16:16:56    2023-11-24 16:34:56
4  5427684290     83298567 2023-11-20 05:00:39    2023-11-20 05:17:39

  actual_delivery_time delivery_status  order_total payment_method  \
0  2024-07-17 08:47:01         On Time      3197.07           Cash
1  2024-05-28 13:27:29         On Time       976.55           Cash
2  2024-09-23 13:29:12         On Time       839.05            UPI
3  2023-11-24 16:33:56         On Time       440.23           Card
4  2023-11-20 05:18:39         On Time      2526.68           Cash

   delivery_partner_id  store_id
0                63230      4771
1                14983      7534
2                39859      9886
3                61497      7917
4                84315      2741
Products:
   product_id product_name             category                    brand  \
0      153019       Onions  Fruits & Vegetables               Aurora LLC
1       11422     Potatoes  Fruits & Vegetables           Ramaswamy-Tata
2      669378     Potatoes  Fruits & Vegetables          Chadha and Sons
3      848226     Tomatoes  Fruits & Vegetables           Barad and Sons
4      890623       Onions  Fruits & Vegetables  Sangha, Nagar and Varty

    price      mrp  margin_percentage  shelf_life_days  min_stock_level  \
0  947.95  1263.93                 25                3               13
1  127.16   169.55                 25                3               20
2  212.14   282.85                 25                3               23
3  209.59   279.45                 25                3               10
4  354.52   472.69                 25                3               27

   max_stock_level
0               88
1               65
2               70
3               51
4               55

In [7]:
Market_performance.isnull().sum()
Market_performance.describe()

,campaign_id,date,impressions,clicks,conversions,spend,revenue_generated,roas
count,5400.000000,5400,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000
mean,501315.219074,2024-01-10 12:00:00.000000256,5460.668519,550.767593,55.192222,3022.192267,5961.742106,2.740711
min,243.000000,2023-03-17 00:00:00,1002.000000,100.000000,10.000000,1000.630000,2003.100000,1.500000
25%,249200.000000,2023-08-13 18:00:00,3231.500000,322.000000,32.000000,2029.070000,3907.240000,2.120000
50%,505012.500000,2024-01-10 12:00:00,5457.500000,555.000000,55.000000,3042.485000,5935.940000,2.725000
75%,752219.250000,2024-06-08 06:00:00,7676.250000,772.000000,78.000000,4011.572500,7973.712500,3.370000
max,999950.000000,2024-11-05 00:00:00,9999.000000,1000.000000,100.000000,4997.550000,9999.540000,4.000000
std,287611.524258,NaN,2571.779820,260.080051,26.150173,1148.732680,2322.242911,0.722986

In [12]:
# Finding missing values in each dataframe
dataframes = {
    "Customer_feedback": Customer_feedback,
    "Customers": Customers,
    "Market_performance": Market_performance,
    "Order_Items": Order_Items,
    "Orders": Orders,
    "Products": Products
}
dataframe = {id: df.isnull().sum() for id, df in dataframes.items()}
for id, missing in dataframe.items():
    print(f'\n Missing values in {id}:')
    print(missing)

 Missing values in Customer_feedback:
feedback_id          0
order_id             0
customer_id          0
rating               0
feedback_text        0
feedback_category    0
sentiment            0
feedback_date        0
dtype: int64

 Missing values in Customers:
customer_id          0
customer_name        0
email                0
phone                0
address              0
area                 0
pincode              0
registration_date    0
customer_segment     0
total_orders         0
avg_order_value      0
dtype: int64

 Missing values in Market_performance:
campaign_id          0
campaign_name        0
date                 0
target_audience      0
channel              0
impressions          0
clicks               0
conversions          0
spend                0
revenue_generated    0
roas                 0
dtype: int64

 Missing values in Order_Items:
order_id      0
product_id    0
quantity      0
unit_price    0
dtype: int64

 Missing values in Orders:
order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

 Missing values in Products:
product_id           0
product_name         0
category             0
brand                0
price                0
mrp                  0
margin_percentage    0
shelf_life_days      0
min_stock_level      0
max_stock_level      0
dtype: int64

In [32]:
# Push Cleaned Dataframe to SQL Database
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
load_dotenv()
db_host = os.getenv('DB_HOST')
db_user = os.getenv('DB_USERNAME')
db_password = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')
db_port = os.getenv('DB_PORT')
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
Customer_feedback.to_sql('Customer_Feedback', engine, if_exists='replace', index=False)
Customers.to_sql('Customers', engine, if_exists='replace', index=False)
Market_performance.to_sql('Market_Performance', engine, if_exists='replace', index=False)
Order_Items.to_sql('Order_Items', engine, if_exists='replace', index=False)
Orders.to_sql('Order', engine, if_exists='replace', index=False)
Products.to_sql('Products', engine, if_exists='replace', index=False)
engine.dispose()